doctype html
html
  head
    title PlayGround
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.blue What hath God wrought?
    form#example-form(method='post' action='/submit')
      input(type='text')
      input(type='submit')
    script(src='/javascripts/indexStatic.js')