include head.jade
    h2 Your Profile: #[span=username]
    a(href="/dashboard")#edit-prof My Dashboard
    div#email Current email address: #[span=email]
    div#fullname Full name: #[span=fullname]
    div#about About me: #[span=aboutme]
    div#location My loaction: #[span=location]
    div#instrument Preferred instrument(s): #[span=instrument]
    form#edit-prof-form(method='get' action='/myprofile/edit') #[input(type="submit" value="Edit my profile")]
    form.logout-form(method='post' action='/logout') #[input(type="submit" value="Logout")]